@font-face {
  font-family: 'Icons';
  src:url('fonts/Icons.eot?2per54');
  src:url('fonts/Icons.eot?#iefix2per54') format('embedded-opentype'),
    url('fonts/Icons.woff?2per54') format('woff'),
      url('fonts/Icons.ttf?2per54') format('truetype'),
        url('fonts/Icons.svg?2per54#Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-directions:before {
  content: "\21";
}
.icon-paperplane:before {
  content: "\22";
}
.icon-mail:before {
  content: "\23";
}
.icon-feather:before {
  content: "\24";
}
.icon-pencil:before {
  content: "\25";
}
.icon-user:before {
  content: "\26";
}
.icon-heart:before {
  content: "\27";
}
.icon-location:before {
  content: "\28";
}
.icon-chat:before {
  content: "\29";
}
.icon-quote:before {
  content: "\2a";
}
.icon-bolt:before {
  content: "\2b";
}
.icon-credit-card:before {
  content: "\2c";
}
.icon-list:before {
  content: "\2630";
}
.icon-twitter:before {
  content: "\2e";
}
.icon-facebook:before {
  content: "\2f";
}
.icon-github:before {
  content: "\30";
}
.icon-dribbble:before {
  content: "\31";
}
.icon-rdio:before {
  content: "\32";
}
.icon-spotify:before {
  content: "\33";
}
.icon-rss:before {
  content: "\34";
}
.icon-file-pdf:before {
  content: "\e600";
}
